* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(214, 148, 48);
}
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}
.navigation-panel {
    background-color: rgb(240, 218, 93);
    
}

.navigation-panel ul {
    display: grid;
    gap: 15px;
    list-style: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;

    
}
.navigation-panel li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
.navigation-panel img {
    width: 1.5rem;
    height: 1.5rem;
}
.dashboard {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}